<div class="shifts">
  <span class="shifts__day">{{day.number}} {{day.day}} <a href="/day/{{day.number}}" class="btn btn-danger btn-sm" style="float:right; font-family: 'lato'">More details</a><span class="clearfix"></span></span>

  <div class="shifts__overflow">
    <a href="/nurse/{{shift}}" class="shifts__shift shifts__shift--early-day" ng-repeat="shift in day.shifts[0]">
      {{test({id: shift})}}
    </a>
    <a href="/nurse/{{shift}}" class="shifts__shift shifts__shift--day" ng-repeat="shift in day.shifts[1]">
      {{test({id: shift})}}
    </a>
    <a href="/nurse/{{shift}}" class="shifts__shift shifts__shift--evening" ng-repeat="shift in day.shifts[2]">
      {{test({id: shift})}}
    </a>
    <a href="/nurse/{{shift}}" class="shifts__shift shifts__shift--night" ng-repeat="shift in day.shifts[3]">
      {{test({id: shift})}}
    </a>
  </div>
</div>
