<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Additional cost</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="cost in vm.costs">
      <td>{{$index}}</td>
      <td>{{vm.getNurse($index).firstName}}</td>
      <td>{{vm.getNurse($index).surname}}</td>
      <td ng-show="cost !== 0">+{{cost}}$</td>
      <td ng-show="cost === 0">No additional cost</td>
      <td><a href="/nurse/{{$index}}" class="btn btn-sm btn-danger">More details</a></td>
    </tr>
  </tbody>
</table>