<div ng-show="vm.data">
  <h1 class="lobster">Day #{{vm.getDay().number}} - <span style="text-transform: capitalize">{{vm.getDay().day}}</span></h1>
  <h2>Shifts in that day:</h2>
  <h3>Early day:</h3>
  <div ng-repeat="shift in vm.getDay().shifts[0]">
    <p>{{$index + 1}} {{vm.getNurse(shift).firstName}} {{vm.getNurse(shift).secondName}} <a href="/nurse/{{shift}}">more details</a></p>
  </div>
  <h3>Day:</h3>
  <div ng-repeat="shift in vm.getDay().shifts[1]">
    <p>{{$index + 1}} {{vm.getNurse(shift).firstName}} {{vm.getNurse(shift).secondName}} <a href="/nurse/{{shift}}">more details</a></p>
  </div>
  <h3>Late Day:</h3>
  <div ng-repeat="shift in vm.getDay().shifts[2]">
    <p>{{$index + 1}} {{vm.getNurse(shift).firstName}} {{vm.getNurse(shift).secondName}} <a href="/nurse/{{shift}}">more details</a></p>
  </div>
  <h3>Night:</h3>
  <div ng-repeat="shift in vm.getDay().shifts[3]">
    <p>{{$index + 1}} {{vm.getNurse(shift).firstName}} {{vm.getNurse(shift).secondName}} <a href="/nurse/{{shift}}">more details</a></p>
  </div>
</div>
