<h1 class="lobster">Nurse Info:</h1>

<h2>Name: </h2>
<p>{{vm.getNurse(vm.id).firstName}}</p>

<h2>Second Name: </h2>
<p>{{vm.getNurse(vm.id).secondName}}</p>

<h2>Surname: </h2>
<p>{{vm.getNurse(vm.id).surname}}</p>

<h2>Phone Number: </h2>
<p>{{vm.getNurse(vm.id).phoneNumber}}</p>

<h2>Hours per weekend: </h2>
<p>{{vm.getNurse(vm.id).hours}}</p>

<div ng-if="vm.costs[vm.id] !== 0">
  <h2>Additional cost: </h2>
  <p>+{{vm.costs[vm.id]}}$</p>
</div>